
progress{
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #EFEFEF;
    border-radius: 25px;
  }

progress[value]::-webkit-progress-value {
    background-color: #09DA75;
    border-radius: 25px;

  }

  .label-progress{
      margin: 0;
      margin-bottom: 5px;
  }