.progress{
height: 20px;
border-radius: 10px;
}
.progress-base{
    background-color: #EFEFEF;
}
.progress-bar{
    background-color: #09DA75;
    position: relative;
    bottom: 20px;
}

.top-container{
    display: flex;

}